<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/layout.html :: dynamic(~{::body})}">

<head>
<base href="/" />
<meta charset="UTF-8">
<title>Homepage</title>
</head>

<body>
	<section class="slider mt-5" style="padding: 300px 0;">
		<div class="container text-center">
			<div class="text">
				<span class="fadeInUp">
					<span th:text="#{home.welcome}">Welcome to</span>
					<span class="green">
						<b>LAB 3</b>
					</span>
				</span>
				<h2 class="fadeInUp">NGUYỄN HOÀNG DUY</h2>
				<h3 class="fadeInUp">PS18293 - IT16315</h3>
			</div>
		</div>
	</section>
</body>

</html>